<title>My application deployed automatically</title> 
  <h1>Hello, World!</h1>
    <h3> The code is making some operations. We have one integer, one arrayList and one String. The integerth char of String is taken and then we find how many words start with this char. For example, arrayList: {bekir,berk,senel,kerem,kerim,kazım} String: bekir int: 2 output: 3 (kerem,kerim,kazım).</h5>
    <h3> First box is for arrayList. Second box is for String. Third box is for integer.</h5>
  Result is {{result}}
  <form action="compute" method="post">
        
        <textarea  name="input1" rows="10" cols="30" >
        </textarea>
	
        <textarea  name="input2" rows="10" cols="30">
        </textarea>
       
	<textarea  name="input3" rows="10" cols="30"> 
        </textarea>
        <br>
        <input type="submit">
</form>
