<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    <h5> The code checks an array. If it finds the number of input String, returns true. For example our array is "a","a","b" and our input String is "a", our prediction is that array is included the number of 2. Code checks them and return true.</h5>

  Result is {{result}}
  <form action="compute" method="post">
        
        <textarea  name="input1" rows="10" cols="30" >
        </textarea>
	
        <textarea  name="input2" rows="10" cols="30">
        </textarea>
       
	<textarea  name="input3" rows="10" cols="30"> 
        </textarea>
        <br>
        <input type="submit">
</form>
